<div class="container pagecontainer">
    <div class="page-header">
        <h1>{{ pgTitle }} Session</h1>
    </div>

    <form [formGroup]="sessionForm" (ngSubmit)="saveSession(sessionForm.value)" class="form-horizontal" novalidate autocomplete="off">

        <div class="form-group">
            <label for="expdesc" class="col-sm-2 control-label">Name</label>
            <div class="input-group col-sm-10">

                <input type="text" class="form-control" [formControl]="sessionName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" [disabled]="sessionForm.invalid" class="btn btn-primary">{{ btnLbl }}</button>
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="reset" class="btn btn-default" *ngIf="btnLbl == 'Update'" (click)="onBack()">Back</button>
            </div>
        </div>
    </form>

</div>
