<div class="container pagecontainer">
    <div class="page-header">
        <h1>Address Lists</h1>
    </div>

    <button type="button" class="btn btn-primary" [routerLink]="['/create/new/address']" name="button">Create New</button>
    <div class="panel panel-default" *ngIf="expenses && totalrows > 0">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}} -> {{oberserverNumber}} -> {{oberserverStr}}</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="10%"><a style="cursor:pointer" (click)="sortExpense('expensedate')">Details</a></th>
                            <th width="10%"><a style="cursor:pointer" (click)="sortExpense('expensedate')">Action</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let exp of expenses; let expIndex = index'>
                            <td>{{ exp.addressDetails}}</td>
                            <td>
                                <button type="button" class="btn-xs btn-info" aria-label="View" (click)="showExpense(exp._id)">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn-xs btn-danger" aria-label="Edit" (click)="editExpense(exp._id)">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn-xs btn-primary" aria-label="Delete" (click)="confirmDel(expIndex, exp._id)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <!-- pagination -->
          <div  style="text-align:center" *ngIf="expenses && totalrows > 10">

            <ng-template [ngIf]="!setNextPagescon && !setPrevPagescon">
              <ul class="pagination">
                <li><a style="cursor:pointer" (click) = "setPagePrev(totalrows)">&laquo;</a></li>
                <li *ngFor="let item of createPager(pgCounter); let idx = index">

                    <a *ngIf="idx<=9" [ngClass]="{'selected': qpage == idx + 1 }"class="selected" style="cursor:pointer" (click) = "setPage(idx + 1)">{{ idx + 1 }}</a>
                </li>
                <li><a style="cursor:pointer" (click) = "setPageNext(totalrows)">&raquo;</a></li>
              </ul>
            </ng-template>

            <ng-template [ngIf]="setNextPagescon">
              <ul class="pagination">
                <li><a style="cursor:pointer" (click) = "setPagePrev(totalrows)">&laquo;</a></li>
                <li *ngFor="let item of createPager(pgCounter); let idx = index">

                    <a *ngIf="(idx + setNextInitPageLi)<=pgCounter && idx<=9" [ngClass]="{'selected': qpage == idx + setNextInitPageLi }"class="selected" style="cursor:pointer" (click) = "setPage(idx + setNextInitPageLi)">{{ idx + setNextInitPageLi }}</a>
                </li>
                <li><a style="cursor:pointer" (click) = "setPageNext(totalrows)">&raquo;</a></li>
              </ul>
            </ng-template>

            <ng-template [ngIf]="setPrevPagescon">
              <ul class="pagination">
                <li><a style="cursor:pointer" (click) = "setPagePrev(totalrows)">&laquo;</a></li>
                <li *ngFor="let item of createPager(pgCounter); let idx = index">

                    <a *ngIf="(idx + setPrevInitPageLi + 1)<=pgCounter && idx<=9" [ngClass]="{'selected': qpage == idx + setPrevInitPageLi + 1 }"class="selected" style="cursor:pointer" (click) = "setPage(idx + setPrevInitPageLi + 1)">{{ idx + setPrevInitPageLi + 1 }}</a>
                </li>
                <li><a style="cursor:pointer" (click) = "setPageNext(totalrows)">&raquo;</a></li>
              </ul>
            </ng-template>

          </div>


        </div>
    </div>
</div>
