<div class="container pagecontainer">
    <div class="page-header">
        <h1>{{ pgTitle }} Address</h1>
    </div>

    <form [formGroup]="addressForm" (ngSubmit)="saveAddress(addressForm.value)" class="form-horizontal" novalidate autocomplete="off">

        <div class="form-group">
            <label for="expdesc" class="col-sm-2 control-label">Description</label>
            <div class="input-group col-sm-10">
                <textarea required class="form-control"  id="expdesc"  rows="3" formControlName="addressDetails" placeholder="Description"></textarea>
                <span class="danger_color" *ngIf="addressForm.get('addressDetails').invalid && addressForm.get('addressDetails').touched">{{addressForm.get('addressDetails').errors['addressDetails']}}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <!-- <button type="submit" [disabled]="addressForm.invalid" class="btn btn-primary">{{ btnLbl }}</button> -->
                <button type="submit" class="btn btn-primary">{{ btnLbl }}</button>
                
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="reset" class="btn btn-default" *ngIf="btnLbl == 'Update'" (click)="onBack()">Back</button>
            </div>
        </div>
    </form>

</div>
