<div class="container pagecontainer">
    <div class="page-header">
        <h1>View Address</h1>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="expdesc" class="col-sm-2 control-label">Description</label>
            <div class="input-group col-sm-10">
                <div class="form-ele">{{ expense?.addressDetails }}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="button" (click)="onBack()" class="btn btn-default">Back</button>
            </div>
        </div>
    </form>

</div>
