
<footer class="site-footer" id="footer">
  <div class="text-center">
    Copyright (c) 2017 Company Name All Rights Reserved
    <a href="form_component.html#" class="go-top">
              <i class="fa fa-angle-up"></i>
          </a>
  </div>
</footer>
