<h3><i class="fa fa-angle-right"></i> Section</h3>
<div class="row mt">
  <div class="col-lg-12">
    <div class="form-panel">
     <button type="button" (click)="hey()" class="btn btn-primary" name="button">ABCD</button>
     <p *ngIf="show_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h4 class="mb"><i class="fa fa-angle-right"></i> Input Messages</h4>
      <form class="form-horizontal tasi-form" method="get">
        <div class="form-group has-success">
          <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">Input with success</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputSuccess">
          </div>
        </div>
        <div class="form-group has-warning">
          <label class="col-sm-2 control-label col-lg-2" for="inputWarning">Input with warning</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputWarning">
          </div>
        </div>
        <div class="form-group has-error">
          <label class="col-sm-2 control-label col-lg-2" for="inputError">Input with error</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputError">
          </div>
        </div>
      </form>
    </div>
    <!-- /form-panel -->
  </div>
  <!-- /col-lg-12 -->
</div>
