<div class="container pagecontainer">
  <div class="page-header">
    <h1>{{ pgTitle }} School Details</h1>
  </div>

  <form [formGroup]="addressForm" (ngSubmit)="saveAddress(addressForm.value)" class="form-horizontal" novalidate autocomplete="off">

    <div class="form-group">
      <label for="expdesc" class="col-sm-2 control-label">Address ID</label>
      <div class="input-group col-sm-10">

        <select [formControl]="addressId" id="hmo" class="form-control">
          <option *ngFor="let hmo of addresses"
                  [value]="hmo._id" [selected]="addressId == hmo._id">
            {{hmo.addressDetails}}
          </option>
        </select>
      </div>
    </div>



    <div class="form-group">
      <label for="expdesc" class="col-sm-2 control-label">Name</label>
      <div class="input-group col-sm-10">
        <textarea class="form-control" id="expdesc" rows="3" [formControl]="name" placeholder="Name"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="expdesc" class="col-sm-2 control-label">Principal</label>
      <div class="input-group col-sm-10">
        <textarea class="form-control" id="expdesc" rows="3" [formControl]="principal" placeholder="Principal"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="expdesc" class="col-sm-2 control-label">Details</label>
      <div class="input-group col-sm-10">
        <textarea class="form-control" id="expdesc" rows="3" [formControl]="details" placeholder="Details"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <button type="submit" [disabled]="addressForm.invalid" class="btn btn-primary">{{ btnLbl }}</button>
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="reset" class="btn btn-default" *ngIf="btnLbl == 'Update'" (click)="onBack()">Back</button>
      </div>
    </div>
  </form>

</div>
