<section id="container">
  <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
  <!--header start-->
  <app-top-header *ngIf="authService.isLoggedIn()"></app-top-header>
  <!--header end-->

  <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
  <!--sidebar start-->
  <app-sidebar *ngIf="authService.isLoggedIn()"></app-sidebar>
  <!--sidebar end-->

  <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content">
    <section class="wrapper">

      <router-outlet></router-outlet>

    </section>
    <! --/wrapper -->
  </section>
  <!-- /MAIN CONTENT -->

  <!--main content end-->
  <!--footer start-->
  <app-footer *ngIf="authService.isLoggedIn()"></app-footer>
  <!--footer end-->
</section>
