
<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">

      <p class="centered"><a href="profile.html"><img src="" class="img-circle" width="60"></a></p>
      <h5 class="centered">Suvo</h5>

      <li class="mt">
        <a routerLink="/">
                      <i class="fa fa-dashboard"></i>
                      <span>Dashboard</span>
                  </a>
      </li>

      <li class="mt">
        <a routerLink="/update/settings/59de107acbd4bf0bdccb2c93">
                      <i class="fa fa-dashboard"></i>
                      <span>School Info </span>
                  </a>
      </li>

      <li class="mt">
        <a routerLink="/address/list">
                      <i class="fa fa-dashboard"></i>
                      <span>Address</span>
                  </a>
      </li>

      <li class="mt">
        <a routerLink="/session/list">
          <i class="fa fa-dashboard"></i>
          <span>Session</span>
        </a>
      </li>

      <li class="mt">
        <a routerLink="/section/list">
                      <i class="fa fa-dashboard"></i>
                      <span>Section</span>
                  </a>
      </li>

      <li class="mt">
        <a routerLink="/section/list">
                      <i class="fa fa-dashboard"></i>
                      <span>Subject</span>
                  </a>
      </li>


    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
