<div class="container pagecontainer">
    <div class="page-header">
        <h1>{{ pgTitle }} Section</h1>
    </div>

    <form [formGroup]="sectionForm" (ngSubmit)="saveSection(sectionForm.value)" class="form-horizontal" novalidate autocomplete="off">

        <div class="form-group">
            <label for="expdesc" class="col-sm-2 control-label">Name</label>
            <div class="input-group col-sm-10">

                <input type="text" class="form-control" [formControl]="sectionName">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button type="submit" [disabled]="sectionForm.invalid" class="btn btn-primary">{{ btnLbl }}</button>
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="reset" class="btn btn-default" *ngIf="btnLbl == 'Update'" (click)="onBack()">Back</button>
            </div>
        </div>
    </form>

</div>
